[submodule "cosmos-sdk"]
	path = protos/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "protos/omniflixhub-src"]
	path = protos/omniflixhub-src
	url = https://github.com/OmniFlix/omniflixhub.git
[submodule "protos/wasmd-src"]
	path = protos/wasmd-src
	url = https://github.com/CosmWasm/wasmd.git
[submodule "protos/ibc-go-src"]
	path = protos/ibc-go-src
	url = https://github.com/cosmos/ibc-go.git
[submodule "protos/streampay-src"]
	path = protos/streampay-src
	url = https://github.com/OmniFlix/streampay.git
